_site
.sass-cache
.jekyll-metadata
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/mpantel.github.io.iml
/.idea/vcs.xml
/migrate-blogger
/blogger/
